* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'Open Sans', sans-serif;
}
html,
body {
  width: 100%;
  height: 100%;
  background-color: #0b1d27;
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v40/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsjZ0C4n.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v40/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsg-1y4n.ttf) format('truetype');
}
@font-face {
  font-family: 'Playfair Display SC';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/playfairdisplaysc/v15/ke85OhoaMkR6-hSn7kbHVoFf7ZfgMPr_pb4.ttf) format('truetype');
}
@font-face {
  font-family: 'Playfair Display SC';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/playfairdisplaysc/v15/ke80OhoaMkR6-hSn7kbHVoFf7ZfgMPr_nQIpNcs.ttf) format('truetype');
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.clear {
  clear: both;
}
.w50 {
  width: 50%;
}
header {
  width: 100%;
  height: 780px;
  background-image: url(../imagens/bg-header.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
header .escurecer {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(11, 29, 39, 0.3);
}
header .navegacao {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 30px;
  position: relative;
}
header .navegacao .logo {
  color: #FFF;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  z-index: 2;
  line-height: normal;
}
header .navegacao .descktop {
  z-index: 2;
}
header .navegacao .descktop ul {
  display: flex;
  align-items: center;
  gap: 30px;
  z-index: 2;
}
header .navegacao .descktop ul a {
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  z-index: 2;
}
@media screen and (max-width: 760px) {
  header .navegacao .descktop ul {
    display: none;
  }
}
header .navegacao .mobile {
  z-index: 5;
  display: none;
}
header .navegacao .mobile h3 {
  float: right;
  color: #fff;
  font-size: 30px;
  display: none;
}
@media screen and (max-width: 760px) {
  header .navegacao .mobile h3 {
    display: block;
  }
}
header .navegacao .mobile ul {
  background-color: #0b1d27;
  width: 100%;
  height: 400px;
  z-index: 5;
  position: absolute;
  top: 60px;
  right: 0;
  left: 0;
  display: none;
}
header .navegacao .mobile ul li {
  text-align: center;
  padding: 30px 0;
}
header .navegacao .mobile ul li a {
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
}
header .navegacao .mobile ul li a::after {
  content: '';
  display: block;
  width: 100px;
  height: 2px;
  background-color: #e0da50;
  margin: 2px auto;
}
header .navegacao .mobile ul li i {
  color: #fff;
  cursor: pointer;
}
@media screen and (max-width: 760px) {
  header .navegacao .mobile {
    display: block;
  }
}
header .navegacao .conta {
  display: flex;
  align-items: center;
  gap: 10px;
  z-index: 2;
}
header .navegacao .conta a {
  color: #FFF;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
}
header .navegacao .conta i {
  color: #fff;
  cursor: pointer;
  font-size: 16px;
}
@media screen and (max-width: 760px) {
  header .navegacao .conta {
    display: none;
  }
}
header .chamada-header {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  margin: 220px auto 0 auto;
}
header .chamada-header p {
  color: #E0DA50;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  z-index: 2;
}
header .chamada-header p::before {
  content: '';
  display: inline-block;
  width: 87px;
  height: 3px;
  background-color: #e0da50;
  z-index: 2;
  margin-right: 10px;
  vertical-align: 10px;
}
@media screen and (max-width: 383px) {
  header .chamada-header p::before {
    width: 40px;
  }
}
header .chamada-header h2 {
  color: #FFF;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  z-index: 2;
  font-family: 'Playfair Display SC', serif;
}
@media screen and (max-width: 602px) {
  header .chamada-header h2 {
    font-size: 2.4em;
  }
}
@media screen and (max-width: 465px) {
  header .chamada-header h2 {
    font-size: 2em;
  }
}
@media screen and (max-width: 383px) {
  header .chamada-header h2 {
    font-size: 1.6em;
  }
}
header .chamada-header .mais {
  display: flex;
  align-items: center;
  gap: 10px;
  z-index: 2;
}
header .chamada-header .mais a {
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
}
header .chamada-header .mais i {
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}
@media screen and (max-width: 760px) {
  header .chamada-header .mais {
    justify-content: center;
  }
}
@media screen and (max-width: 760px) {
  header .chamada-header {
    text-align: center;
  }
}
.viaje-info {
  height: 500px;
  margin-top: -80px;
}
.viaje-info .container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  padding: 0 5px;
  height: 100%;
  max-width: 1100px;
}
.viaje-info .container .box-info01 {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 70px auto 0 auto;
}
.viaje-info .container .box-info01 .info {
  display: flex;
  flex-direction: column;
  position: relative;
  position: absolute;
  top: -270px;
  left: -70px;
}
.viaje-info .container .box-info01 .info span {
  font-size: 200px;
  color: rgba(255, 255, 255, 0.2);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  z-index: 2;
  position: absolute;
  left: 0;
  top: -130px;
}
@media screen and (max-width: 410px) {
  .viaje-info .container .box-info01 .info span {
    font-size: 120px;
    top: -70px;
  }
}
.viaje-info .container .box-info01 .info .info02 {
  margin-left: 100px;
}
@media screen and (max-width: 780px) {
  .viaje-info .container .box-info01 .info .info02 {
    margin-left: 0;
  }
}
.viaje-info .container .box-info01 .info h4 {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #e0da50;
}
.viaje-info .container .box-info01 .info h4::before {
  content: '';
  display: inline-block;
  width: 80px;
  height: 3px;
  background-color: #e0da50;
  vertical-align: 5px;
  margin-right: 10px;
}
.viaje-info .container .box-info01 .info h2 {
  color: #FFF;
  font-size: 2em;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-family: 'Playfair Display SC', serif;
  padding: 10px 0;
}
@media screen and (max-width: 949px) {
  .viaje-info .container .box-info01 .info h2 {
    font-size: 1.7em;
  }
}
@media screen and (max-width: 863px) {
  .viaje-info .container .box-info01 .info h2 {
    font-size: 1.4em;
  }
}
@media screen and (max-width: 780px) {
  .viaje-info .container .box-info01 .info h2 {
    font-size: 2em;
  }
}
@media screen and (max-width: 458px) {
  .viaje-info .container .box-info01 .info h2 {
    font-size: 1.7em;
  }
}
@media screen and (max-width: 394px) {
  .viaje-info .container .box-info01 .info h2 {
    font-size: 1.4em;
  }
}
.viaje-info .container .box-info01 .info p {
  color: #FFF;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 100%;
  max-width: 550px;
}
@media screen and (max-width: 876px) {
  .viaje-info .container .box-info01 .info p {
    max-width: 350px;
  }
}
@media screen and (max-width: 780px) {
  .viaje-info .container .box-info01 .info p {
    max-width: 100%;
  }
}
.viaje-info .container .box-info01 .info .mais-info {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}
.viaje-info .container .box-info01 .info .mais-info a {
  color: #e0da50;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
}
.viaje-info .container .box-info01 .info .mais-info i {
  color: #e0da50;
  cursor: pointer;
}
@media screen and (max-width: 945px) {
  .viaje-info .container .box-info01 .info {
    left: -45px;
  }
}
@media screen and (max-width: 900px) {
  .viaje-info .container .box-info01 .info {
    left: -55px;
  }
}
@media screen and (max-width: 780px) {
  .viaje-info .container .box-info01 .info {
    position: static;
    top: auto;
    left: auto;
  }
}
@media screen and (max-width: 780px) {
  .viaje-info .container .box-info01 {
    width: 100%;
  }
}
@media screen and (max-width: 460px) {
  .viaje-info .container .box-info01 {
    padding: 20px 10px;
  }
}
.viaje-info .container .box-info02 {
  width: 40%;
  height: 100%;
  position: relative;
}
.viaje-info .container .box-info02 .box-img {
  position: absolute;
  right: 0;
  top: -80px;
  width: 384px;
  height: 564px;
}
.viaje-info .container .box-info02 .box-img img {
  width: 100%;
  object-fit: cover;
}
@media screen and (max-width: 876px) {
  .viaje-info .container .box-info02 .box-img {
    width: 100%;
    height: auto;
  }
}
@media screen and (max-width: 780px) {
  .viaje-info .container .box-info02 .box-img {
    width: 384px;
    height: auto;
    position: static;
    right: auto;
    top: auto;
    margin: 0 auto;
  }
}
@media screen and (max-width: 450px) {
  .viaje-info .container .box-info02 .box-img {
    width: 90%;
  }
}
@media screen and (max-width: 780px) {
  .viaje-info .container .box-info02 {
    width: 100%;
  }
}
@media screen and (max-width: 780px) {
  .viaje-info .container {
    flex-direction: column-reverse;
  }
}
@media screen and (max-width: 780px) {
  .viaje-info {
    width: 100%;
    height: auto;
  }
}
.viaje-info-02 {
  height: auto;
  margin-top: 80px;
}
.viaje-info-02 .container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  align-items: center;
  padding: 0 5px;
  height: 100%;
  max-width: 1100px;
}
.viaje-info-02 .container .box-info01 {
  width: 50%;
  max-width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.viaje-info-02 .container .box-info01 .info {
  display: flex;
  flex-direction: column;
}
.viaje-info-02 .container .box-info01 .info span {
  font-size: 200px;
  color: rgba(255, 255, 255, 0.2);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  z-index: 2;
  position: absolute;
  left: 0;
  top: -130px;
}
@media screen and (max-width: 410px) {
  .viaje-info-02 .container .box-info01 .info span {
    font-size: 120px;
    top: -70px;
  }
}
.viaje-info-02 .container .box-info01 .info .info02 {
  margin-left: 100px;
}
@media screen and (max-width: 908px) {
  .viaje-info-02 .container .box-info01 .info .info02 {
    margin-left: 60px;
  }
}
@media screen and (max-width: 780px) {
  .viaje-info-02 .container .box-info01 .info .info02 {
    margin-left: 0;
  }
}
.viaje-info-02 .container .box-info01 .info h4 {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #e0da50;
}
.viaje-info-02 .container .box-info01 .info h4::before {
  content: '';
  display: inline-block;
  width: 80px;
  height: 3px;
  background-color: #e0da50;
  vertical-align: 5px;
  margin-right: 10px;
}
@media screen and (max-width: 993px) {
  .viaje-info-02 .container .box-info01 .info h4::before {
    width: 30px;
  }
}
@media screen and (max-width: 369px) {
  .viaje-info-02 .container .box-info01 .info h4::before {
    width: 20px;
  }
}
@media screen and (max-width: 369px) {
  .viaje-info-02 .container .box-info01 .info h4 {
    font-size: 17px;
  }
}
.viaje-info-02 .container .box-info01 .info h2 {
  color: #FFF;
  font-size: 1.6em;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-family: 'Playfair Display SC', serif;
  padding: 10px 0;
}
@media screen and (max-width: 967px) {
  .viaje-info-02 .container .box-info01 .info h2 {
    font-size: 1.4em;
  }
}
@media screen and (max-width: 359px) {
  .viaje-info-02 .container .box-info01 .info h2 {
    font-size: 1.2em;
  }
}
.viaje-info-02 .container .box-info01 .info p {
  color: #FFF;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 100%;
  max-width: 550px;
}
@media screen and (max-width: 876px) {
  .viaje-info-02 .container .box-info01 .info p {
    max-width: 350px;
  }
}
@media screen and (max-width: 780px) {
  .viaje-info-02 .container .box-info01 .info p {
    max-width: 100%;
  }
}
.viaje-info-02 .container .box-info01 .info .mais-info {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}
.viaje-info-02 .container .box-info01 .info .mais-info a {
  color: #e0da50;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
}
.viaje-info-02 .container .box-info01 .info .mais-info i {
  color: #e0da50;
  cursor: pointer;
}
@media screen and (max-width: 780px) {
  .viaje-info-02 .container .box-info01 .info {
    position: static;
    top: auto;
    left: auto;
  }
}
@media screen and (max-width: 780px) {
  .viaje-info-02 .container .box-info01 {
    width: 100%;
    padding: 10px 20px;
  }
}
@media screen and (max-width: 460px) {
  .viaje-info-02 .container .box-info01 {
    padding: 20px 10px;
  }
}
.viaje-info-02 .container .box-info02 {
  width: 50%;
  height: auto;
}
.viaje-info-02 .container .box-info02 .box-img {
  width: 384px;
  height: 564px;
}
.viaje-info-02 .container .box-info02 .box-img img {
  width: 100%;
  object-fit: cover;
}
@media screen and (max-width: 876px) {
  .viaje-info-02 .container .box-info02 .box-img {
    width: 100%;
    height: auto;
  }
}
@media screen and (max-width: 780px) {
  .viaje-info-02 .container .box-info02 .box-img {
    width: 384px;
    height: auto;
    position: static;
    right: auto;
    top: auto;
    margin: 0 auto;
  }
}
@media screen and (max-width: 450px) {
  .viaje-info-02 .container .box-info02 .box-img {
    width: 90%;
  }
}
@media screen and (max-width: 780px) {
  .viaje-info-02 .container .box-info02 {
    width: 100%;
  }
}
@media screen and (max-width: 780px) {
  .viaje-info-02 .container {
    flex-direction: column-reverse;
    gap: 80px;
  }
}
@media screen and (max-width: 780px) {
  .viaje-info-02 {
    width: 100%;
    height: auto;
  }
}
.viaje-info-03 {
  height: auto;
  margin-top: 80px;
}
.viaje-info-03 .container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  padding: 0 5px;
  height: 100%;
  max-width: 1100px;
}
.viaje-info-03 .container .box-info01 {
  width: 50%;
  max-width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.viaje-info-03 .container .box-info01 .info {
  display: flex;
  flex-direction: column;
}
.viaje-info-03 .container .box-info01 .info span {
  font-size: 200px;
  color: rgba(255, 255, 255, 0.2);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  z-index: 2;
  position: absolute;
  left: 0;
  top: -130px;
}
@media screen and (max-width: 410px) {
  .viaje-info-03 .container .box-info01 .info span {
    font-size: 120px;
    top: -70px;
  }
}
.viaje-info-03 .container .box-info01 .info .info02 {
  margin-left: 100px;
}
@media screen and (max-width: 908px) {
  .viaje-info-03 .container .box-info01 .info .info02 {
    margin-left: 60px;
  }
}
@media screen and (max-width: 867px) {
  .viaje-info-03 .container .box-info01 .info .info02 {
    margin-left: 40px;
  }
}
@media screen and (max-width: 780px) {
  .viaje-info-03 .container .box-info01 .info .info02 {
    margin-left: 0;
  }
}
.viaje-info-03 .container .box-info01 .info h4 {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #e0da50;
}
.viaje-info-03 .container .box-info01 .info h4::before {
  content: '';
  display: inline-block;
  width: 80px;
  height: 3px;
  background-color: #e0da50;
  vertical-align: 5px;
  margin-right: 10px;
}
@media screen and (max-width: 993px) {
  .viaje-info-03 .container .box-info01 .info h4::before {
    width: 30px;
  }
}
.viaje-info-03 .container .box-info01 .info h2 {
  color: #FFF;
  font-size: 1.6em;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-family: 'Playfair Display SC', serif;
  padding: 10px 0;
}
@media screen and (max-width: 967px) {
  .viaje-info-03 .container .box-info01 .info h2 {
    font-size: 1.4em;
  }
}
.viaje-info-03 .container .box-info01 .info p {
  color: #FFF;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 100%;
  max-width: 550px;
}
@media screen and (max-width: 876px) {
  .viaje-info-03 .container .box-info01 .info p {
    max-width: 350px;
  }
}
@media screen and (max-width: 780px) {
  .viaje-info-03 .container .box-info01 .info p {
    max-width: 100%;
  }
}
.viaje-info-03 .container .box-info01 .info .mais-info {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}
.viaje-info-03 .container .box-info01 .info .mais-info a {
  color: #e0da50;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
}
.viaje-info-03 .container .box-info01 .info .mais-info i {
  color: #e0da50;
  cursor: pointer;
}
@media screen and (max-width: 780px) {
  .viaje-info-03 .container .box-info01 .info {
    position: static;
    top: auto;
    left: auto;
  }
}
@media screen and (max-width: 780px) {
  .viaje-info-03 .container .box-info01 {
    width: 100%;
    padding: 10px 20px;
  }
}
@media screen and (max-width: 460px) {
  .viaje-info-03 .container .box-info01 {
    padding: 20px 10px;
  }
}
.viaje-info-03 .container .box-info02 {
  width: 50%;
  height: auto;
}
.viaje-info-03 .container .box-info02 .box-img {
  width: 384px;
  height: 564px;
  float: right;
}
.viaje-info-03 .container .box-info02 .box-img img {
  width: 100%;
  object-fit: cover;
}
@media screen and (max-width: 876px) {
  .viaje-info-03 .container .box-info02 .box-img {
    width: 100%;
    height: auto;
  }
}
@media screen and (max-width: 780px) {
  .viaje-info-03 .container .box-info02 .box-img {
    width: 384px;
    height: auto;
    position: static;
    right: auto;
    top: auto;
    margin: 0 auto;
    float: none;
  }
}
@media screen and (max-width: 450px) {
  .viaje-info-03 .container .box-info02 .box-img {
    width: 90%;
  }
}
@media screen and (max-width: 780px) {
  .viaje-info-03 .container .box-info02 {
    width: 100%;
  }
}
@media screen and (max-width: 780px) {
  .viaje-info-03 .container {
    flex-direction: column-reverse;
    gap: 80px;
  }
}
@media screen and (max-width: 780px) {
  .viaje-info-03 {
    width: 100%;
    height: auto;
  }
}
footer {
  padding: 20px 0;
  margin-top: 60px;
}
footer .container {
  max-width: 1100px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
footer .container .box-footer-01 {
  width: 60%;
}
footer .container .box-footer-01 a {
  color: #FFF;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  z-index: 2;
  line-height: normal;
}
footer .container .box-footer-01 p {
  color: #fff;
  font-size: 16px;
  padding-top: 20px;
}
@media screen and (max-width: 770px) {
  footer .container .box-footer-01 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
footer .container .box-footer-02 {
  width: 20%;
}
footer .container .box-footer-02 h3 {
  color: #e0da50;
  font-size: 16px;
}
footer .container .box-footer-02 nav {
  padding-top: 20px;
}
footer .container .box-footer-02 nav ul {
  display: flex;
  flex-direction: column;
}
footer .container .box-footer-02 nav ul li {
  padding-bottom: 10px;
}
footer .container .box-footer-02 nav ul li a {
  color: #fff;
  font-size: 15px;
  font-weight: normal;
}
@media screen and (max-width: 770px) {
  footer .container .box-footer-02 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
  }
}
footer .container .box-footer-03 {
  float: right;
}
footer .container .box-footer-03 h3 {
  color: #e0da50;
  font-size: 16px;
  float: right;
}
@media screen and (max-width: 770px) {
  footer .container .box-footer-03 h3 {
    float: none;
  }
}
footer .container .box-footer-03 nav {
  padding-top: 20px;
}
footer .container .box-footer-03 nav ul {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 100%;
}
footer .container .box-footer-03 nav ul li {
  padding-bottom: 10px;
}
footer .container .box-footer-03 nav ul li a {
  color: #fff;
  font-size: 15px;
  font-weight: normal;
}
@media screen and (max-width: 770px) {
  footer .container .box-footer-03 nav ul {
    margin-top: 0;
  }
}
@media screen and (max-width: 770px) {
  footer .container .box-footer-03 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 770px) {
  footer .container {
    max-width: 100%;
  }
}
footer .direitos .container p {
  color: #535252;
}
@media screen and (max-width: 1100px) {
  footer {
    padding: 20px 10px;
  }
}
